@font-face {
  font-family: navleft;
  src: url(/fonts/SequelSansDisplayBook.woff2);
}
@font-face {
  font-family: navl;
  src: url(/fonts/SequelSansDisplay.woff2);
}
@font-face {
  font-family: logo;
  src: url(/fonts/CooperLtBTWXXLight.woff2);
}
@font-face {
  font-family: main;

  src: url(/fonts/pro-fa-brands-400-5.0.0.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  po
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.nav {
  height: 10vh;
  /* border-bottom: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
.nav h1 {
  font-family: logo;
  padding: 10px 0 25px 0;
  font-weight: 100;
  font-size: 31px;
  text-transform: lowercase;
  transition: all 0.3s ease;
}
.nav h1:hover {
  scale: 0.97;
  opacity: 0.5;
}
.nleft {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 20px 5px;
}
.nleft a {
  font-size: 15px;
  padding: 10px 20px 20px 5px;
  font-family: navl;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000a7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nleft a:hover {
  color: black;
}
.nleft .contact {
  padding: 7px 18px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #00000055;
  position: relative;
  overflow: hidden;
}
.nleft .contact .green {
  width: 100%;
  background-color: springgreen;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.5s ease-out;
}
.nleft .contact:hover .green {
  left: 0%;
}

.nleft .contact span {
  font-size: 16px;
  z-index: 99;
  color: rgba(0, 0, 0, 0.629);
}
.nleft .contact i {
  font-size: 25px;
  padding-left: 20px;
  z-index: 99;
}

/* nav bar ended */

.content {
  height: 90vh;
  width: 100%;
  position: relative;
}
.content h1 {
  width: 50%;
  text-align: center;
  font-weight: 100;
  font-family: logo;
  text-transform: capitalize;
  font-size: 66px;
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.findout {
  position: absolute;
  top: 63%;
  left: 51%;
  transform: translate(-50%, -50%);
  padding: 10px 20px 20px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.findout span {
  font-size: 23px;
  font-family: navl;
}
.findout .arrow {
  padding: 7px 30px;
  margin-left: 20px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.313);
  position: relative;
  overflow: hidden;
}
.findout .arrow .green1 {
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0%;
  background-color: springgreen;
  position: absolute;
  transition: left 0.5s ease-in-out;
  z-index: -1;
  cursor: pointer;
}
.findout .arrow:hover .green1 {
  left: 0;
}
.img1 {
  height: 430px;
  width: 300px;
  background-color: aqua;
  position: absolute;
  left: 16%;
  top: 41%;
  transform: translate(-50%, -50%);
  transition: top 0.4s ease-in-out;
}
.img1:hover{
  cursor: pointer;
  top: 39.5%;
  
}

.img1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.img2 {
  height: 220px;
  width: 255px;
  background-color: rgb(31, 255, 72);
  position: absolute;
  left: 66%;
  top: 19%;
  transform: translate(-50%, -50%);
  transition: top 0.4s ease-in-out;
}
.img2:hover{
  cursor: pointer;
  top: 18%;
  
}

.img2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img3 {
  height: 250px;
  width: 260px;
  background-color: rgb(255, 239, 20);
  position: absolute;
  left: 82%;
  top: 70%;
  transform: translate(-50%, -50%);
  transition: top 0.4s ease-in-out;
}
.img3:hover{
  cursor: pointer;
  top: 69%;
  
}
.img3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.line {
  height: 16px;
  width: 290px;
  background-image: url(/assets/underline-green.svg);
  position: absolute;
  left: 40%;
  top: 51%;
  transform: translate(-50%, -50);
}
/* page 2 */
.page2 {
  height: 62vh;
  width: 100%;
  background-color: black;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 96px 0;
  position: relative;
}
.page2 h3 {
  font-size: 18px;
  font-family: navl;
  margin-bottom: 30px;
}
.page2 h2 {
  font-size: 46px;
  font-family: logo;
  width: 60%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 100;
}

.page2 .roundline {
  height: 80px;
  width: 200px;
  position: absolute;
  background-image: url(/assets/circle.svg);
  top: 51%;
  left: 42%;
}

.page2 h4 {
  font-family: navleft;
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2 h4 span {
  padding: 1px 30px;
  margin-left: 20px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.313);
  position: relative;
  overflow: hidden;
}

.page2 h4 span .green8 {
  height: 20%;
  width: 100%;
  background-color: springgreen;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-0%, -50%);
  transition: left 0.4s ease-in-out;
}

.page2 h4 span:hover .green8 {
  left: 0;
}

.page3 {
  width: 100%;
  height: 130vh;
  display: flex;
}

.page3 .left {
  width: 50%;
  height: 100vh;
  position: relative;
}

.page3 .left .img01 {
  height: 500px;
  width: 150px;
  position: absolute;
}

.page3 .left .img02 {
  height: 300px;
  width: 350px;
  position: absolute;
  left: 30%;
}
.page3 .left .img03 {
  height: 550px;
  width: 460px;
  top: 45%;
  left: 30%;
  position: absolute;
}
.page3 .left .img04 {
  height: 200px;
  width: 250px;
  position: absolute;
  top: 70%;
  left: -10%;
}
.img01 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img02 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img03 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img04 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page3 .right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 70px;
}

.page3 .right h1 {
  font-size: 53px;
  font-family: logo;
  margin: 0 0 20px 0;
  font-weight: 100;
}
.page3 .right p {
  width: 75%;
  margin: 30px 0;
  font-size: 20px;
  font-family: navl;
  word-spacing: 3px;
  color: #000000c0;
}
.page4 {
  height: 100vh;
  width: 100%;
}

.page4 img {
  width: 100%;
}


.pointer{
  height: 25px;
  width: 25px;
  background-color: rgb(238, 159, 159);
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  z-index: 999;
  left: 0;
  top: 0;
}

