@import url(https://db.onlinewebfonts.com/c/e25ed0fa39c44d127ab5ab3e362d8af1?family=Cooper+Lt+BT+Light);
@import url(https://db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
}
.nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 10px 30px 30px;
}
.nav h1 {
  font-family: "Cooper Lt BT Light";
  font-weight: 100;
}
.lnav {
  height: 60px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lnav a {
  text-decoration: none;
  font-size: 19px;
  display: flex;
  color: black;
  font-family: "Acumin Variable Concept";
}
.lnav a:hover {
  border-bottom: 2px solid springgreen;
}

.nav a h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  text-align: center;
  height: 40px;
  width: 150px;
  border: 0.7px solid black;
  position: relative;
}
.nav a h5:hover {
  background-color: springgreen;
}

.main > h1 {
  position: absolute;
  left: 49%;
  top: 27%;
  transform: translate(-50%, 0%);
  height: 10vw;
  width: 50vw;
  font-size: 70px;
  font-family: "Cooper Lt BT Light";
  font-weight: 100;

  text-align: center;
  position: relative;
}
.main > h1::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 30%;
  top: 109%;
  content: "";
  width: 290px;
  height: 20px;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
}
.limg {
  position: absolute;
  left: 5%;
  top: 26%;
  height: 430px;
  width: 300px;
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-75.jpg?w=1200&h=1731&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631017685&s=333b9abfa858cf7b8685e28a597dfa08);
  background-position: center;
  background-size: cover;
}

.rimg {
  height: 216px;
  width: 256px;
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-23.jpg?w=1200&h=1008&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631003343&s=88354e145206a527c989b49f760a89d3);
  position: absolute;
  background-position: center;
  background-size: cover;
  top: 17.5%;
  right: 25.4%;
  z-index: -1;
}

.rimgbottom {
  height: 259px;
  width: 266px;
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-81.jpg?w=1200&h=1200&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631005177&s=21e4c0bb5ce83f57e69f404637d61265);
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: 10%;
  right: 9%;
  z-index: -1;
}
h3 {
  position: absolute;
  top: 68%;
  left: 42%;
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  word-spacing: -2px;
  font-weight: 100;
}
